    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
         <span class="icon"> <i class="icon-align-justify"></i> </span>
        </div>
        <div class="widget-content nopadding">
        <div class="form-horizontal"">
<%= form_with(model: admin, local: true) do |form| %>
  
              <div class="control-group">
              <label class="control-label">Admin Name :</label>
              <div class="controls">
              <%= form.text_field :name,class: "form-control", id: :admin_name %>

<!--                 <input type="text" class="form-control" placeholder="Enter Name" />
 -->              </div>
            </div>
<!-- <div class="section">
                <label class="input">User Name <i class="icon-append fa fa-user"></i>
                  <%#= form.text_field :name, id: :admin_name %></label>
                  </div> -->
  <!-- <div class="field">
    <%#= form.label :name %>
    <%#= form.text_field :name, id: :admin_name %>
  </div>
 -->
              <div class="control-group">
              <label class="control-label">Email :</label>
              <div class="controls">
              <%= form.text_field :email,class: "form-control", id: :admin_email %>

<!--                 <input type="text" class="form-control" placeholder="Enter Name" />
 -->              </div>
            </div>
 <!-- <div class="section">
                <label class="input">Email <i class="icon-append fa fa-envelope-o"></i>
                   <%#= form.text_field :email, id: :admin_email %>
                  </label>
              </div> -->
  <!-- <div class="field">
    <%#= form.label :email %>
    <%#= form.text_field :email, id: :admin_email %>
  </div> -->
              <div class="control-group">
              <label class="control-label">Phone Number :</label>
              <div class="controls">
              <%= form.text_field :phonenumber,class: "form-control", id: :phonenumber %>

<!--                 <input type="text" class="form-control" placeholder="Enter Name" />
 -->              </div>
            </div>
<!-- 
   <div class="section">
        <label class="input">Phone Number<i class="icon-append fa fa-lock"></i>
        <%#=form.text_field :phonenumber, id: :phonenumber %>
        </label>
        </div> -->
  <!-- <div class="field">
    <%#= form.label :phone_number %>
    <%#= form.number_field :phonenumber, id: :admin_phonenumber %>
  </div> -->


  <div class="widget-content nopadding">
          <form action="#" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Password :</label>
              <div class="controls">
              <%= form.password_field :password,class: "form-control", id: :admin_password %>

<!--                 <input type="text" class="form-control" placeholder="Enter Name" />
 -->              </div>
            </div>

 <!--  <div class="section">
              <label class="input">Password <i class="icon-append fa fa-lock"></i>
              <%#= form.text_field :password, id: :admin_password %> </label>
              </div> -->
              <!-- <div class="field">
    <%#= form.label :password %>
    <%#= form.text_field :password, id: :admin_password %>
  </div> -->


<div class="widget-content nopadding">
          <form action="#" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Conform Password :</label>
              <div class="controls">
              <%= form.password_field :confirm_password,class: "form-control", id: :admin_confirm_password %>

<!--                 <input type="text" class="form-control" placeholder="Enter Name" />
 -->              </div>
            </div>
<!--             
     <div class="section">
              <label class="input">Confirm Password <i class="icon-append fa fa-lock"></i>
              <%#= form.text_field :confirm_password, id: :admin_confirm_password %> </label>
              </div>
 -->
  <!-- <div class="field">
    <%#= form.label :confirm_password %>
    <%#= form.text_field :confirm_password, id: :admin_confirm_password %>
  </div> -->

 
  <div class="form-actions">
     <button type="submit" class="btn btn-success">Create Admin </button>
  </div>
<% end %>


