<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>E-School - Professional Learning and Courses HTML5 Template</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css">

<!-- Template Styles -->
<link rel="stylesheet" href="/assets/style.css" type="text/css" />
<link rel="stylesheet" href="/assets/font-awesome.min.css">
<link rel="stylesheet" href="/assets/simple-line-icons.css"/>
<link rel="stylesheet" href="/assets/et-line-font.css">

<!-- Magnific Popup -->
<link rel="stylesheet" href="/assets/magnific-popup.css">

<!-- Responsive Devices Styles -->
<link rel="stylesheet" media="screen" href="/assets/responsive-leyouts.css" type="text/css" />

<!-- Mega Menu -->
<link rel="stylesheet" href="/assets/screen.css">

<!-- Animations -->
<link href="/assets/animations.min.css" rel="stylesheet" type="text/css" media="all" />

<!-- forms -->
<link rel="stylesheet" href="/assets/sky-forms.css" type="text/css" media="all">
</head>
<body>
<div class="site-wrapper" style="position: relative;">
  <div class="temp-header">
    <div class="container">
      <div class="row">
        <div class="top-links">
          <div class="col-md-6 pull-left nodisplay">Call: +1 123 456 7890</div>
          <div class="col-md-6 pull-right text-right">
            <ul class="top-right-list">
              <li><a href="/users/sign_in"><i class="fa fa-lock"></i> Login</a></li>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://plus.google.com/discove"><i class="fa fa-google-plus"></i></a></li>
              <li class="last"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="header-section transparent style1 pin-style">
      <div class="container">
        <div class="mod-menu">
          <div class="row">
            <div class="col-sm-2"> <a href="/" title="" class="logo"> <img src="/assets/logo.png" alt=""> </a> </div>
            <div class="col-sm-10">
              <div class="main-nav">
                <ul class="nav navbar-nav top-nav">
                  <li class="search-parent"> <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                    <div class="search-box">
                      <div class="content">
                        <div class="form-control">
                          <input type="text" placeholder="Type to search" />
                          <a href="#" class="search-btn"><i aria-hidden="true" class="fa fa-search"></i></a> </div>
                        <a href="#" class="close-btn">x</a> </div>
                    </div>
                  </li>
                  <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
                </ul>
               <!--  <div id="menu" class="collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/home/index">Home</a></li>
                    <li><a href="/home/about">About Us</a></li>
                    <li><a href="/home/courses">Courses</a> <span class="arrow"></span>
                      <ul class="dm-align-2">
                        <li><a href="courses.html"><i class="fa fa-angle-right"></i> Grid View</a></li>
                        <li><a href="courses1.html"><i class="fa fa-angle-right"></i> List View</a></li>
                        <li><a href="courses2.html"><i class="fa fa-angle-right"></i> Single Course</a></li>
                      </ul>
                    </li>
                    <li><a href="/home/our_team">Our Team</a></li>
                    <li><a href="/home/blog">Blog</a> <span class="arrow"></span>
                      <ul class="dm-align-2">
                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Blog Standard</a></li>
                        <li><a href="blog1.html"><i class="fa fa-angle-right"></i> Blog 3 Columns</a></li>
                        <li><a href="blog2.html"><i class="fa fa-angle-right"></i> Blog Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="/home/contact">Contact Us</a></li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="page-header four">
    <div class="container">
      <div class="col-md-6 pull-left">
        <h3>Admin Registration</h3>
        <h4>Admin Register Here...!</h4>
      </div>
      <div class="col-md-6 pull-right">
        <div class="breadcrumbs"><a href="/home/index">Home</a> <i>/</i> Registration</div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="section-lg counters m-bottom4">
    <div class="container">
      <div class="row">
        <div class="reg_form">
          <form class="sky-form" id="sky-form">
            <header>Don't have an Account? Register Now!</header>
            <fieldset>

<div class="section">
                <label class="input">User Name <i class="icon-append fa fa-user"></i>
                  <%= form.text_field :name, id: :admin_name %></label>
                  </div>
  <!-- <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_name %>
  </div>
 -->
 <div class="section">
                <label class="input">Email <i class="icon-append fa fa-envelope-o"></i>
                   <%= form.text_field :email, id: :admin_email %>
                  </label>
              </div>
  <!-- <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_email %>
  </div> -->

   <div class="section">
        <label class="input">Phone Number<i class="icon-append fa fa-lock"></i>
        <%=form.text_field :phonenumber, id: :phonenumber %>
        </label>
        </div>
  <!-- <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phonenumber, id: :admin_phonenumber %>
  </div> -->
  <div class="section">
              <label class="input">Password <i class="icon-append fa fa-lock"></i>
              <%= form.text_field :password, id: :admin_password %> </label>
              </div>
              <!-- <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :admin_password %>
  </div> -->

     <div class="section">
              <label class="input">Confirm Password <i class="icon-append fa fa-lock"></i>
              <%= form.text_field :confirm_password, id: :admin_confirm_password %> </label>
              </div>

  <!-- <div class="field">
    <%= form.label :confirm_password %>
    <%= form.text_field :confirm_password, id: :admin_confirm_password %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</fieldset>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

