<h4><%=@user.role%></h4>
<h4>Email: <%=@user.email%></h4>


    <%= form_for @user,url:{action: 'update_password',id: @user.id},method: :patch do |f| %>
   

  <div class="form-group">
    <b>New Password:</b>
     <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder:'New Password',class: "form-control",style: "width: 300px" %>
    </div>
    <div class="form-group">
      <b>Confirm New Password:</b> 
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder:'Confirm New Password',class: "form-control",style: "width: 300px" %>
    </div>
  <br>
    <div class="form-group">
      <div align="center">
        <%= f.submit "Update",class: "btn btn-success" %>
      </div>
  
  <% end  %>
  </div>