<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :option %>
    <%= form.text_field :option, id: :option_option %>
  </div>

  <div class="field">
    <%= form.label :is_answer %>
    <%= form.text_field :is_answer, id: :option_is_answer %>
  </div>

  <div class="field">
    <%= form.label :exam_questions_id %>
    <%= form.text_field :exam_questions_id, id: :option_exam_questions_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
