<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Login</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/assets/login.css" />
        <link href="/assets/font-awesome.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    </head>
    <body>
        <div id="loginbox">            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="control-group normal_text"> <h3><img src="/assets/logo.png"  /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">

                            <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                            <%= f.email_field :email, autofocus: true, placeholder: "Username" %>
                            <!-- <input type="text"  /> -->
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                            <!-- <input type="password"  /> -->
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                
                    <!-- <span class="pull-left"><a href="/layouts/index" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span> -->
                    <span class="pull-right">
                         <%=f.submit "Log in", class: "btn btn-success" %>
<!--                     <a type="submit"  /> Login</a></span>
 -->                </div>
            </form>
            <%end%>
            <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
        
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                        </div>
                    </div>
               
                <div class="form-actions">

                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><a class="btn btn-info"/>Recover Password</a></span>
                </div>
            </form>
            <%= render 'devise/shared/links'%>
        </div>
        
        <script src="/assets/jquery.min.js"></script>  
        <script src="/assets/login.js"></script> 
    </body>

</html>

