    <br/><h3><center>Confirm Payment</center></h3><br/>
    <table cellpadding="5" cellspacing="5" width="700">
      <tr><th colspan="3" bgcolor="99CCFF" align="left">Student Profile</th></tr>
    
<tr>
 <td>

    <strong>Student Name:</strong>
    <%= current_user.firstname%>
</td>
<td>
<strong>Address:</strong>
<%= current_user.student.address%>
</td>

<td>
<strong>Phone no:</strong>
<%= current_user.student.phone_number%>
</td>

<td>
  <strong>To Pay:</strong>
  <%= @payment.amount.to_i %>
</td>
<td>
<strong>Email</strong>
<%=@current_user.email%>
</td>



<td>
  <strong>Token:</strong>
<%= text_field_tag :access_token,"", value: @payment.txnid, readonly:true%>
</td>

      </tr>
    </table>


 <br>

  <% payment_form_for_payu 'gtKFFx', 'eCwWELxi', 
            :txnid => @payment.txnid,
            :amount => @payment.amount.to_i,
            :productinfo => 'Fees Payment',
            :firstname => @payment.student.name,
            :email => @payment.student.email,
            :phone =>  @payment.student.phone_number,
            :surl => 'http://' + "localhost" + ':3000/payu_callback',
            :furl => 'http://' + "localhost" + ':3000/payu_callback',
            :html => { :id => 'payment-form' } %>
         
