<div class="span6">
        <div class="widget-box widget-chat">
          <div class="widget-title bg_lb"> <span class="icon"> <i class="icon-money"></i> </span>
            <h5>Admin Details</h5>
          </div>
          <div class="widget-content collapse in" id="collapseG4">
<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<p>
	<strong>Student Name:</strong>
	<%= current_user.firstname%>
</p>
<p>
<strong>Address:</strong>
<%= current_user.student.address%>
</p>

<p>
<strong>Phone no:</strong>
<%= current_user.student.phone_number%>
</p>

<%if @payment.payment_type == 'Installment'%>
<p>

  <strong>Remaning:</strong>
  <%= @payment.remaining %>
</p>

<p>
  <strong>To Pay:</strong>
  <%= @payment.instalment %>
</p>

<%else%>
<p>
<strong>Fees</strong>

<%=@payment.fees%>
</p>

<%end%>




<td><%= link_to 'Download PDF ',show_payment_payment_path(@payment, format: 'pdf'),target: '_blank', class: "btn btn-success"%> </td>
<%if @payment.payment_status == 'Online'%>                                                                                                                                                                         
<%= link_to "Confirm To Pay", confirm_to_pay_payment_path(@payment.id), class: 'btn btn-warning'%>
<%end%>